.menu{
    width:100vw;
    height:70px;
    background:black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:$big-font;
    border-bottom: 8px solid $mint-color;

 & p{
     margin-right:0.5em;
 }
    &-item{
        margin:0 50px;
    }
    &-logo{
        flex-shrink: 0;
        cursor:default;
        width:200px;
        // justify-self:flex-start;
    }
    &-btn{
        color:#fff;
        background:none;
        border:none;
        margin:10px;
        justify-self:flex-end;
    }
    &-btn:hover{
        cursor:pointer;
        color:$mint-color;
    }
}

main{
    display:flex;
    width:100vw;
    height:100vh;
    overflow-x:scroll;

}


.add-item{
    @include todo-item-style;

    display:flex;
    flex-direction: column;
    align-items:center;

    & textarea{
        padding:5px;
        border-radius:5px;
    }


    &-btns{
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &-btn{
        width:48%;
        height:40px;
        border:1px solid black;
        background:black;
        border-radius:10px;
        margin:10px 0 0 0;
        color:white;
    }

    &-btn:first-child{
        background:$mint-color;
        color:black;
    }

    &-btn:first-child:disabled{
        color:darkgray;
        background:#eee;
        border:none;
        cursor:default;
    }


}