@font-face { font-family: 'BMHANNAAir'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff'); font-weight: normal; font-style: normal; }
@import './variables';

*{
    outline:none;
    font-family:"BMHANNAAir";
}
ul{
    padding:5px;
}
input[type='button']{
    cursor:pointer;
}


.flex-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    height:100vh;
    width:100vw;
}

.menu{
    width:100%;
    height:70px;
    background:black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:$big-font;

    &-item{
        margin:0 50px;
    }
    &-logo{
        cursor:default;
    }
    &-btn{
        color:#fff;
        background:none;
        border:none;
        margin:10px;
    }
    &-btn:hover{
        cursor:pointer;
    }
}

main{
    display:flex;
    justify-content: space-evenly;
    align-items:flex-start;
    width:100%;
    height:100%;
    flex-wrap:wrap;
}

.todo-container{
    min-width:400px;
    // width:30%;
    max-width:400px;
    height:700px;
    background:#eee;
    border-radius: 15px;
    margin:30px 10px;
    overflow:scroll;
    box-shadow:  5px 5px 5px darkgray;
    
    &-header{
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin-top:10px;
        padding:0 15px;
    }

    &-part1{
        display:flex;
        align-items:center;
        
    }

    .num-of-todos, &-header-title{
        margin: 0 5px;
    }

}

.add-item{
    @include todo-item-style;

    display:flex;
    flex-direction: column;
    align-items:center;

    &:hover{
        @include grabbing-style;
    }

    &-btns{
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &-btn{
        width:48%;
        height:40px;
        border:1px solid darkgray;
        border-radius:10px;
        margin:10px 0;
    }

    &-btn:first-child{
        background:greenyellow;
    }


}

.todo-item{
    @include todo-item-style;

    &:hover{
        cursor:grab;
    }

    &:active{
        @include grabbing-style;
    }

    &-header{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    &-part1{
        display:flex;
        align-items: center;
    }

    &-logo,&-title{
        margin:0 5px;
    }
}

.author{
    display:flex;
    p{
        color:darkgray;
        margin: 0 5px;
    }
}



.toggle {
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
    transform: scaleY(1);
    // transform-origin: top;
  
    &.hidden {
      transform: scaleY(0);
      height:0;
    }

    &:not(.hidden){
    transform:scaleY(1);
    }
  }


.toggle {
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
    transform: scaleY(1);
    // transform-origin: top;
  
    &.hidden {
      transform: scaleY(0);
      height:0;
    }

    &:not(.hidden){
    transform:scaleY(1);
    }
  
  }

// aside style

aside div{
    display:flex;
    align-items: center;
    justify-content: center;
    width:360px;
    height:200px;
    border:2px dashed darkgray;
    border-radius: 15px;
    margin:30px;
    flex-shrink: 0;
    color: #3f3f44;
}
   
