@font-face { font-family: 'BMHANNAAir'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff'); font-weight: normal; font-style: normal; }
@import './variables';


*{
    outline:none;
    font-family:"BMHANNAAir";
}
ul{
    padding:5px;
    margin:0;
}
input[type='button']{
    cursor:pointer;
}

i{
    font-size:32px;
}

i:hover{
    cursor:pointer;
    color:$mint-color;
    transition:1s;
    // transform:rotate(15deg);
}


.flex-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    height:100vh;
    width:100vw;
}

.menu{
    width:100vw;
    height:70px;
    background:black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:$big-font;
    border-bottom: 8px solid $mint-color;

    &-item{
        margin:0 50px;
    }
    &-logo{
        cursor:default;
    }
    &-btn{
        color:#fff;
        background:none;
        border:none;
        margin:10px;
    }
    &-btn:hover{
        cursor:pointer;
        color:$mint-color;
    }
}

main{
    display:flex;
    width:100vw;
    height:100vh;
    overflow-x:scroll;

}

.todo-container{
    width:360px;
    height:700px;
    background:#eee;
    border-radius: 15px;
    margin:30px;
    overflow:scroll;
    box-shadow:  5px 5px 5px darkgray;
    flex-shrink: 0;
    border:1px solid black;
    
    &-header{
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin-top:10px;
        padding:0 15px;
    }

    &-part1{
        display:flex;
        align-items:center;

        &  div{
            width:20px;
            height:20px;
            border-radius:50%;
            border:1px solid $mint-color;
            text-align: center;
            background:$mint-color;
        }
        
    }

    .num-of-todos, &-header-title{
        margin: 0 5px;
    }

}

.add-item{
    @include todo-item-style;

    display:flex;
    flex-direction: column;
    align-items:center;

    & textarea{
        padding:5px;
        border-radius:5px;
    }

    &:hover{
        // @include grabbing-style;
    }

    &-btns{
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &-btn{
        width:48%;
        height:40px;
        border:1px solid black;
        background:black;
        border-radius:10px;
        margin:10px 0 0 0;
        color:white;
    }

    &-btn:first-child{
        background:$mint-color;
        color:black;
    }

    &-btn:first-child:disabled{
        color:darkgray;
        background:#eee;
        border:none;
        cursor:default;
    }


}

.todo-item{
    @include todo-item-style;

    &:hover{
        cursor:grab;
    }

    &:active{
        @include grabbing-style;
    }

    &-header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        width:100%;
    }

    &-part1{
        display:flex;
        align-items: center;
    }

    &-logo,&-title{
        margin:0 5px;
    }
    &-content{
        display:flex;
        flex-wrap:wrap;
        p{
            word-break:break-all;
        }
    }
}

.author{
    display:flex;
    p{
        color:darkgray;
        margin: 0 5px;
    }
}


.toggle {
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    transform: scaleY(1);
    // transform-origin: top;
  
    &.hidden {
      transform: scaleY(0);
      height:0;
    }

    &:not(.hidden){
    transform:scaleY(1);
    }
  
  }

// aside style

aside div{
    display:flex;
    align-items: center;
    justify-content: center;
    width:360px;
    height:200px;
    border:2px dashed darkgray;
    border-radius: 15px;
    margin:30px;
    flex-shrink: 0;
    color: #3f3f44;
}

#end-of-container{
    width:100%;
    height:30px;
    text-align:center;
    font-size:30px;
    color:black;
    margin-bottom:20px;
}